html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

input {
  outline: none;
  border: none;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  background: #0b233f 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #fff;
}

nav ul {
  list-style: none;
}

.app-header {
  margin: 3rem 3rem 0 3rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.play-board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
}

.board-viewport {
  border: 2px dashed #ffffff;
  border-radius: 2rem;
  margin-top: auto;
  min-height: 380px;
  min-width: 380px;
  display: flex;
  flex-flow: column;
}

.board-content {
  background: #253952;
  border-radius: 2rem;
  flex: 1 1 auto;
  margin: 1rem;
}

.bd-pad {
  padding: 3rem;
}

.sub-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.sub-title .highlight {
  color: #fba202;
  font-weight: 600;
}
